@keyframes grow {
	from {
		scale: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes shrink {
	from {
		scale: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes disappear {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slide-down {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-100%);
	}
}

@keyframes slide-right {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}

.default-move,
.default-enter-active,
.default-leave-active {
	transition: all 0.5s ease;
}

.default-enter-from,
.default-leave-to {
	opacity: 0;
}

.default-leave-active {
	/* position: absolute; */
}


.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.pop-enter-active,
.pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform:translateY(-50%);
}