@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #ffffff;
    --background: #050307;
    --primary: #003d57;
    --secondary: #44f0ba;
    --accent: #44a9b4;
    --success: #81e052;
    --danger: #ee2b3b;
    --warning: #f9c753;

    --card-color: #0d0b0f;
}

html {
    font-family: 'Merriweather Sans', sans-serif, Arial, Helvetica;
    line-height: 1.15;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* margin: 0; */
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

html,
body,
#__nuxt,
#__layout {
    margin: 0;
    padding: 0;

    font-family: 'Merriweather Sans', sans-serif, Arial, Helvetica;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;

    text-align: left;
    color: var(--text);
    background: var(--background);

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

#__nuxt {
    display: flex;
    flex-wrap: nowrap;
}
